input[type=email], input[type='password'], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #508552;
}

div {
    color: white;
    width: 400px;
    margin: 4% auto;
    border-radius: 5px;
    background-color: rgb(128, 68, 29);
    padding: 20px;
}

img{
    width: 200px; 
    height: 200px;
    display:block;
    margin:auto;
}

div#mensaje{
    padding: 0%;
}

  body {
    background-image: url("https://wallpaperaccess.com/full/1886667.jpg");
  }
